 
#gdcd{
    display: grid;
    width: 100%;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* scroll-snap-type: x;/ */
    /* border: 1px solid red; */
}
.textcenter{
    transition: all 0.5s ease;
    transform: translateY(800%);
    opacity: 0;
}
.textcenter.fire{
    opacity: 1;
    transform: translatex(0%);
    transition: all 0.5s ease;
}
 
#LastWord{
    padding: 2vmin;
    
}
.iimg{
    width: 100%;
    height: 300px;
    object-fit: contain;
    /* border:2px solid red; */
}   


.textcenter{
    text-align: center;
    font-size: 4vmin;
    cursor: pointer;
    font-weight: bold;
    /* color: black; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0 auto;
}